{% extends "base.html" %}

{% block title %}Listado de Tareas{% endblock %}

{% block content %}
<h2>Listado de Tareas</h2>

<ul>
    {% for tarea in tareas %}
    <li>
        <strong>{{ tarea.titulo }}</strong> (Proyecto: {{ tarea.proyecto.nombre }})
        <br>
        Estado: {{ tarea.estado_completado|yesno:"Completada,No completada" }}
        <br>
        <a href="{% url 'proyectos:tarea_detail' tarea.pk %}">Ver detalles</a>
        
    </li>
    {% empty %}
    <p>No hay tareas registradas.</p>
    {% endfor %}
</ul>

<a href="{% url 'proyectos:tarea_create' %}">Crear nueva tarea</a>
{% endblock %}