{% extends "base.html" %}
{% block title %}Panel de Administración{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Panel del Administrador</h2>

    <!-- Botón: Editar Usuario -->
    <a href="{% url 'proyectos:lista_usuarios' %}" class="btn btn-primary btn-lg btn-block mb-3">
        Editar Usuario
    </a>

    <!-- Botón: Gestión de Contraseña -->
    <a href="{% url 'password_change' %}" class="btn btn-success btn-lg btn-block">
        Gestión de Contraseña
    </a>
</div>
{% endblock %}